Django>=3.2
gunicorn
psycopg2-binary
markdown
python-barcode
django-cors-headers
django-filter
django-q
django-countries
django-import-export
openpyxl
djangorestframework
pytz
django-compressor
pillow
django-json-widget
pyyaml
packaging
